<section id="contact" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="ser-title">Sign In</h2>
				<hr class="botm-line">
			</div>
			<div class="col-md-8 col-sm-8 marb20">
				<div class="contact-info">
					<%= simple_form_for :user, url: sessions_path do |f| %>
					  <%= f.input :email %>
					  <%= f.input :password %>
					  <%= f.submit :SignIn, class: 'btn btn-primary' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
