<p>Hello <%= @user.first_name.capitalize %>,</p>

<p>Your item titled: <%= @item.title %> hasn't receivd an biddr for 5 days please consider chaning or removing the item</p>

<p>Regards,</p>

<p>Awesome biddrs Team</p>
