<section id="biddrForm" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="ser-title">biddr</h2>
				<hr class="botm-line">
			</div>
			<div class="col-md-8 col-sm-8 marb20">
				<div class="contact-info">
					<%= simple_form_for [@item,biddr], remote: true do |f| %>
					<%=biddr&.pretty_errors %>
					  <%= f.input :bid %>
					  <%= f.submit class: 'btn btn-primary' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
